.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.bottom-buffer {
    margin-bottom: 15px;
}

.defecto {
    background-color: #D8D8D8; }

.disponible {
    background-color: white; }

.reservada {
    background-color: yellow; }

.reservada_senia {
    background-color: orange; }

.ocupada {
    background-color: red; }

.nodisponible {
    background-color: brown;
}
