{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="view/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="plugins/reservas/view/js/nueva_reserva.js"></script>

<div id="modal_fecha" class="modal fade" role="dialog">
    <form id="fecha" action="{$fsc->new_url($fsc->step)}" method="post">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Seleccionar Fechas, Categoria Habitacion y Nombre de la Reserva</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="errors" class="alert alert-danger hidden"></div>
                        <input type="hidden" name="codcliente" id="codcliente" value="{$fsc->getReserva()->getCodCliente()}" />
                        <input type="hidden" name="codgrupo" id="codgrupo" value="{$fsc->getReserva()->getCodGrupoCliente()}" />
                        <input type="hidden" name="idsHabitaciones" id="idsHabitaciones" value="{function="implode(',', $fsc->getReserva()->getHabitaciones(true))"}" />
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label><span>Fecha de Ingreso</span>
                                    <input type="text" name="fecha_in" id="fecha_in" class="form-control input-sm datepicker"  value="{$fsc->getReserva()->getFechaIn()}" required data-msg="No ha ingresado fecha de ingreso" />
                                </label>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <label><span>Fecha de Egreso</span>
                                    <input type="text" name="fecha_out" id="fecha_out" class="form-control input-sm datepicker"  value="{$fsc->getReserva()->getFechaOut()}" required data-msg="No ha ingresado fecha de egreso" />
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label><span>Cantidad de Huespedes</span>
                                    <input type="text" name="cantidad_adultos" id="cantidad_adultos" class="form-control input-sm"
                                           value="{$fsc->getReserva()->getCantidadAdultos()}" required min="1"
                                           {if="$fsc->getMaxPass()"} max="{$fsc->getMaxPass()}"{/if} data-msg-min="Debe ingresar al menos 1 huesped adulto"
                                           data-msg-max="La Habitacion seleccionada no puede albergar la cantidad de pasajeros ingresada"/>
                                </label>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <label><span>Cantidad de Menores</span>
                                    <input type="text" name="cantidad_menores" id="cantidad_menores" class="form-control input-sm"
                                           value="{$fsc->getReserva()->getCantidadMenores()}" />
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label for="idcategoria">Categoría de Habitacion</label>
                                <select id="idcategoria" name="idcategoria" class="form-control input-sm"
                                        {if="$fsc->getReserva()->getCategoriaHabitacion() != null"} readonly="readonly"{/if}
                                        required data-msg="Debe seleciconar la categoria de la habitacion">
                                    <option value="">Seleccione...</option>
                                    {loop="$fsc->getCategoriaHabitacion()->fetchAll()"}
                                    <option value="{$value->getId()}"{if="$fsc->getReserva()->getCategoriaHabitacion() == $value->getId()"} selected="selected"{/if}>{$value->getNombre()}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="nombre_reserva">Nombre de la Reserva</label>
                            </div>
                            <div class="col-md-6">
                                <input id="nombre_reserva" class="form-control input-sm" name="nombre_reserva" type="text"
                                       {if="$fsc->getReserva()->getCliente()"}value="{$fsc->getReserva()->getCliente()->nombre}"{/if}
                                       required data-msg="Debe ingresar el nombre de la reserva" />
                                <span id="cliente_loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
                            </div>
                            <div class="col-md-2">
                                <input id="media_pension" type="checkbox" name="media_pension">
                                <label for="media_pension">Media Pension</label>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="generar_presupuesto" class="btn btn-primary">Generar Presupuesto</button>
            </div>
        </div>
    </div>
    </form>
</div>

<div class="container" style="margin-top: 10px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Paso 1:</h1>
            <p>Selecciona la fecha y el nombre de la reserva.</p>
            <a href="#" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal_fecha">Seleccionar fecha</a>
            <h2>Paso 2:</h2>
            <p>Disponibilidad de habitaciones.</p>
            <h2>Paso 3:</h2>
            <p>Informacion de la reserva y pago.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#modal_fecha").modal('show');
        $("#nombre_reserva").autocomplete({
            serviceUrl: 'index.php?page=nueva_venta&tipo=factura',
            paramName: 'buscar_cliente',
            minChars: 3,
            onSearchStart: function(query) {
                $('#cliente_loading').removeClass('hidden');
            },
            onSearchComplete: autocomplete_response,
            onSelect: autcomplete_select,
            showNoSuggestionNotice: true
        });
        $('#fecha').validate({
            errorLabelContainer: "#errors",
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    $("#errors").removeClass('hidden').addClass('show');
                } else {
                    $("#errors").removeClass('show').addClass('hidden');
                }
            },
            highlight: function (element) {
                $(element).closest('div').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('div').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'li',
            submitHandler: function (form) {
                $('#generar_presupuesto').prop('disabled', true);
                get_tarifa({idcategoria: $('#idcategoria').val(), codgrupo: $('#codgrupo').val()}, function (data) {
                    var fechaIn = parseDate($('#fecha_in').val()),
                        fechaOut = parseDate($('#fecha_out').val()),
                        dias = (fechaOut > fechaIn) ? daydiff(fechaIn, fechaOut) : 1,
                        cantAdultos = parseInt($('#cantidad_adultos').val()),
                        cantMenores = parseInt($('#cantidad_menores').val()),
                        cantPass=cantAdultos+cantMenores,
                        totales = calculate_totals(data, dias, 0, cantAdultos, cantMenores);
                    if(confirm("Está a punto de crear una reserva por '"+dias+"' noches y para '"+cantPass+"' pasajeros " +
                                    "con un costo de $"+totales.total_final.toFixed(2)+", está seguro que desea continuar?")) {
                        form.submit();
                    }
                });
            }
        });
    });
</script>

{include="footer"}