{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Listado de Informes Disponibles</h1>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <a href="{$fsc->sinsenia_url()}" class="btn btn-default btn-lg btn-block">Reservas Sin Señar</a>
        </div>
        <div class="col-md-6">
            <a href="{$fsc->consenia_url()}" class="btn btn-default btn-lg btn-block">Reservas Con Señar</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <a href="{$fsc->ocupacion_url()}" class="btn btn-default btn-lg btn-block">Ocupación</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <a href="#" class="btn btn-default btn-lg btn-block">Libro de Pasajeros</a>
        </div>
        <div class="col-md-6">
            <a href="{$fsc->habitaciones_url()}" class="btn btn-default btn-lg btn-block">Habitaciones Reservadas</a>
        </div>
    </div>
</div>

{include="footer"}