{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ocupacion al Día {$fsc->getFecha()}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Cantidad de Pasajeros Check-In: {$fsc->getCantPasajerosCheckIn()}</p>
            <p>Cantidad de Plazas Sisponiables: {$fsc->getCantPlazasDisponibles()}</p>
            <p>Porcentaje de Ocupacion: {$fsc->getPorcentajeOcupacion()} %</p>
        </div>
    </div>
</div>

{include="footer"}