{include="header"}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">

            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nueva Tarifa
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Listado de Tarifas</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-left">Categoria</th>
                <th class="text-left">Tipo Pasajero</th>
                <th class="text-left">Monto</th>
                <th class="text-left">Vigencia</th>
                <th class="text-right">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {if="$fsc->tarifas"}
            {loop="$fsc->tarifas"}
            <tr>
                <td>{if="$value->getCategoriaHabitacion()"}{$value->getCategoriaHabitacion()->getNombre()}{/if}</td>
                <td>{$value->getGrupoCliente()->nombre}</td>
                <td>{$fsc->show_precio($value->getMonto())}</td>
                <td>{$value->getFechaInicio()}</td>
                <td class="text-right">
                    <a href="{$fsc->edit_url($value)}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    &nbsp;
                    <a onclick="return confirm('Esta seguro que desea eliminar la tarifa?')"
                       href="{$fsc->delete_url($value)}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {/loop}
            {else}
            <tr>
                <td colspan="6">No hay tarifas</td>
            </tr>
            {/if}
            </tbody>
        </table>
    </div>
</div>

{include="footer"}