{include="header"}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">

            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nueva Categoria Habitacion
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" id="div_categorias">
    <div class="row">
        <div class="col-md-12">
            <h1>Categorias de Habitaciones</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-left">Nombre</th>
                <th class="text-right">Opciones</th>
            </tr>
            </thead>
            {loop="$fsc->categorias_habitacion"}
            <tr>
                <td>{$value->getNombre()}</td>
                <td class="text-right">
                    <a href="{$fsc->edit_url($value)}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    &nbsp;
                    <a onclick="return confirm('Esta seguro que desea eliminar la Categoría Habitación {$value->getNombre()}?')"
                       href="{$fsc->delete_url($value)}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {else}
            <tr class="bg-warning">
                <td colspan="3">Ninguna categoría habitacion. Pulse el botón <b>Nuevo</b> para crear uno.</td>
            </tr>
            {/loop}
        </table>
    </div>

    <ul class="pager" id="ul_paginador">
        {if condition="$fsc->anterior_url()!=''"}
        <li class="previous">
            <a href="{$fsc->anterior_url()}">
                <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
            </a>
        </li>
        {/if}

        {if condition="$fsc->siguiente_url()!=''"}
        <li class="next">
            <a href="{$fsc->siguiente_url()}">
                Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
        {/if}
    </ul>
</div>
{include="footer"}