{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="plugins/reservas/view/js/nueva_reserva.js"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">

            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nueva Reserva
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <form id="pasajeros" class="" action="{$fsc->new_url(4)}" method="post">
        <input type="hidden" name="idreserva" id="idreserva" value="{$fsc->getReserva()->getId()}">
        <input type="hidden" name="codcliente" id="codcliente" value="{$fsc->getReserva()->getCodCliente()}" />
        <input type="hidden" name="idtarifa" id="idtarifa" value="{$fsc->getReserva()->getTarifa()->getId()}" />
        <input type="hidden" name="idsHabitaciones" id="idsHabitaciones" value="{function="implode(',', $fsc->getReserva()->getHabitaciones(true))"}" />
        <div class="row form-group">
            <p>Número de Reserva: {$fsc->getReserva()->getId()}</p>
        </div>
        <div class="row form-group">
            <div class="col-md-8">
                <h2>Habitaciones:</h2>
                <ul class="list-group">
                    <li class="habitacionItem list-group-item">
                        {loop="$fsc->getReserva()->getHabitaciones()"}
                    <span style="color:black;"
                          class="btn disponible"
                          title="{$value->getHabitacion()->getNumero()}">
                        {$value->getHabitacion()->getNumero()}: {$value->getHabitacion()->getPlazaMaxima()}
                    </span>
                        {/loop}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div style="margin-top: 40px"></div>
                <div class="row bottom-buffer">
                    <button type="submit" class="form-control btn btn-primary" formaction="{$fsc->edit_url($fsc->getReserva(),true)}">Editar Reserva</button>
                </div>
                <div class="row bottom-buffer">
                    <button type="submit" {if="$fsc->getReserva()->allPassangersCheckedIn()"}disabled="disabled"{/if}
                    class="form-control btn btn-primary" formaction="{$fsc->checkin_url($fsc->getReserva())}">Check In</button>
                </div>
                <div class="row">
                    <button type="submit" {if="!$fsc->getReserva()->getCheckOut()"}disabled="disabled"{/if} class="form-control btn" formaction="{$fsc->checkout_url($fsc->getReserva())}">Check Out</button>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label for="fecha_in"><span>Fecha de Ingreso</span></label>
            </div>
            <div class="col-md-2">
                <input type="text" readonly="readonly" name="fecha_in" id="fecha_in" class="form-control input-sm" value="{$fsc->getReserva()->getFechaIn()}" />
            </div>
            <div class="col-md-2">
                <label for="fecha_out"><span>Fecha de Egreso</span></label>
            </div>
            <div class="col-md-2">
                <input type="text" readonly="readonly" name="fecha_out" id="fecha_out" class="form-control input-sm" value="{$fsc->getReserva()->getFechaOut()}" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                Cantidad de Noches: {$fsc->getReserva()->getCantidadDias()}
            </div>
            <div class="col-md-4">
                Monto Tarifa: {$fsc->show_precio($fsc->getReserva()->getTarifa()->getMonto())}
            </div>
        </div>
        <div class="container">
            <h2>Datos de la Reserva:</h2>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="nombre_reserva">Nombre de la Reserva</label>
                </div>
                <div class="col-md-4">
                    <input id="nombre_reserva" class="form-control input-sm" name="nombre_reserva" type="text" readonly="readonly" value="{$fsc->getReserva()->getCliente()->nombre}" />
                </div>
                <div class="col-md-2">
                    <label for="idestado">Estado Reserva</label>
                </div>
                <div class="col-md-2">
                    <select id="idestado" class="form-control input-sm" name="idestado">
                        <option value="">Seleccione</option>
                        {loop="$fsc->getEstadoReserva()->fetchAll()"}
                        <option value="{$value->getId()}"{if="$fsc->getReserva()->getIdEstado() == $value->getId()"} selected="selected"{/if}>{$value->getDescripcion()}</option>
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="telefono">Telefono</label>
                </div>
                <div class="col-md-2">
                    <input id="telefono" class="form-control input-sm" name="telefono" type="text" readonly="readonly" value="{$fsc->getReserva()->getCliente()->telefono1}" />
                </div>
                <div class="col-md-2">
                    <label for="email">E-Mail</label>
                </div>
                <div class="col-md-6">
                    <input id="email" class="form-control input-sm" name="email" type="text" readonly="readonly" value="{$fsc->getReserva()->getCliente()->email}" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="idtipocliente">Tipo de Convenio</label>
                </div>
                <div class="col-md-2">
                    <select id="idtipocliente" name="idtipocliente" readonly="readonly" class="form-control input-sm">
                        <option value="">Seleccione...</option>
                        {loop="$fsc->getGruposCliente()->all()"}
                        <option value="{$value->codgrupo}"{if="$fsc->getReserva()->getCliente()->codgrupo == $value->codgrupo"} selected="selected"{/if}>{$value->nombre}</option>
                        {/loop}
                    </select>
                </div>
                <div class="col-md-offset-2 col-md-2">
                    <input id="media_pension" type="checkbox" name="media_pension"{if="$fsc->getReserva()->getMediaPension()"} checked="checked"{/if}>
                    <label for="media_pension">Media Pension</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-offset-3 col-md-1">
                    <label>Adultos</label>
                </div>
                <div class="col-md-1">
                    <input id="cantidad_adultos" class="form-control input-sm" type="number" readonly="readonly" name="cantidad_adultos" value="{$fsc->getReserva()->getCantidadAdultos()}" />
                </div>
                <div class="col-md-1">
                    <label>Menores de 7</label>
                </div>
                <div class="col-md-1">
                    <input id="cantidad_menores" class="form-control input-sm" type="number" readonly="readonly" name="cantidad_menores" value="{$fsc->getReserva()->getCantidadMenores()}" />
                </div>
            </div>
            <h2>Lista de Pasajeros:</h2>
            <div id="pasajerosMensajes" class="hidden"></div>
            <div class="row">
                <table id="lista_pasajeros" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Cat. Edad</th>
                            <th>Fecha Ingreso</th>
                            <th>Fecha Egreso</th>
                            <th>Tipo Pasajero</th>
                            <th>Monto</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {if="$fsc->getReserva()->getPasajeros()"}
                    {loop="$fsc->getReserva()->getPasajeros()"}
                        <tr class="{$value->getEdadCateg()}">
                            <td>{$value->getNombreCompleto()}</td>
                            <td>{$value->getDocumento()}</td>
                            <td>{function="ucfirst(str_replace('_', ' ', $value->getEdadCateg()))"}</td>
                            <td>{$value->getFechaIn()}</td>
                            <td>{$value->getFechaOut()}</td>
                            <td>{if="$value->getTipoPasajero()"}{$value->getTipoPasajero()->nombre}{else}{$fsc->getReserva()->getTarifa()->getGrupoCliente()->nombre}{/if}</td>
                            <td>{$fsc->show_precio($value->getTotal())}</td>
                            <td>
                                {if="!$fsc->getReserva()->isCheckedIn()"}
                                <input type="hidden" name="pasajeros[]" value="{$value}">
                                <button class="text-right" onclick="return edit_huesped(this)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="text-right" onclick="return remove_huesped(this)"><span class="glyphicon glyphicon-trash"></span></button>
                                {/if}
                            </td>
                        </tr>
                    {/loop}
                    {/if}
                    </tbody>
                </table>
            </div>
            {if="!$fsc->getReserva()->isCheckedIn()"}
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="nombre_pasajero">Nombre</label>
                    <input type="hidden" id="id_pasajero" name="id_pasajero" />
                    <input type="hidden" id="codcliente_pasajero" name="codcliente_pasajero" />
                    <input type="text" id="nombre_pasajero" class="form-control input-sm" name="nombre_pasajero" />
                </div>
                <div class="col-md-3">
                    <div class="col-md-6">
                        <label for="documento_pasajero">Documento</label>
                        <input type="text" id="documento_pasajero" class="form-control input-sm" name="documento_pasajero" />
                    </div>
                    <div class="col-md-6">
                        <input type="radio" id="documento_pasajero_tipo_dni" name="documento_pasajero_tipo" value="DNI" />
                        <label for="documento_pasajero_tipo_dni">DNI</label>
                        <br>
                        <input type="radio" id="documento_pasajero_tipo_afiliado" name="documento_pasajero_tipo" value="AFILIADO" />
                        <label for="documento_pasajero_tipo_afiliado">N° Afiliado</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-6">
                        <label for="pasajero_fecha_in">Fecha Ingreso</label>
                        <input type="text" id="pasajero_fecha_in" name="pasajero_fecha_in" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <label for="pasajero_fecha_out">Fecha Egreso</label>
                        <input type="text" id="pasajero_fecha_out" name="pasajero_fecha_out" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="codgrupo_pasajero">Tipo de Pasajero</label>
                    <select name="codgrupo_pasajero" id="codgrupo_pasajero" class="form-control">
                        <option value="">Seleccione...</option>
                        {loop="$fsc->getGruposCliente()->all()"}
                        <option value="{$value->codgrupo}">{$value->nombre}</option>
                        {/loop}
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="radio" value="MENOR_3" id="edad_pasajero_menor_3" name="edad_pasajero">
                    <label for="edad_pasajero_menor_3">Menor 3 años</label>
                    <br>
                    <input type="radio" value="MENOR_7" id="edad_pasajero_menor_7" name="edad_pasajero">
                    <label for="edad_pasajero_menor_7">Menor 7 años</label>
                    <br>
                    <input type="radio" value="ADULTO" id="edad_pasajero_adulto" name="edad_pasajero" checked="checked">
                    <label for="edad_pasajero_adulto">Adulto</label>
                </div>
            </div>
            <div class="col-md-offset-11 col-md-1">
                <button id="agregar_pasajero" class="btn btn-sm btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus"></span> &nbsp; Agregar
                </button>
            </div>
            {/if}
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <h2><label for="comentario">Comentarios</label></h2>
                <textarea id="comentario" class="form-control" name="comentario" rows="5"></textarea>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="container">
                        <h2>Totales</h2>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="total">Total</label>
                            </div>
                            <div class="col-md-2">
                                <span id="total">{$fsc->show_precio($fsc->getReserva()->getTotal())}</span>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Grabar Reserva" id="guardar" class="form-control btn-primary bottom-buffer">
                                {if="$fsc->getReserva()->getEstado() == estado_reserva::SINSENA || $fsc->getReserva()->getEstado() == estado_reserva::INCOMPLETA"}
                                <button type="submit" class="form-control btn-primary" formaction="{$fsc->confirm_url($fsc->getReserva())}">Generar Conf. Aloj.</button>
                                {else}
                                <button type="submit" class="form-control btn-primary" formaction="{$fsc->voucher_url($fsc->getReserva())}">Generar Voucher</button>
                                {/if}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="descuento">Dto/Int</label>
                            </div>
                            <div class="col-md-2">
                                <input id="descuento" class="form-control" name="descuento" type="text" value="{$fsc->getReserva()->getDescuento()}">
                                <br><span id="montoDescuento">{$fsc->show_precio($fsc->getReserva()->getMontoDescuento())}</span>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="pago" class="form-control btn-success" formaction="{$fsc->pago_url($fsc->getReserva())}">Generar Pago</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="total_final">Total Reserva</label>
                            </div>
                            <div class="col-md-2">
                                <span id="total_final">{$fsc->show_precio($fsc->getReserva()->getTotalFinal())}</span>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="cancelar" id="cancelar" class="form-control btn-danger" formaction="{$fsc->cancel_url($fsc->getReserva())}">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </form>
</div>

{include="footer"}