{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="view/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="plugins/reservas/view/js/nueva_reserva.js"></script>

<div id="modal_fecha" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Seleccionar Fechas y habitacion</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="errors" class="alert alert-danger hidden"></div>
                    <form id="fecha" action="{$fsc->new_url($fsc->step)}" method="post">
                        <input type="hidden" name="codcliente" id="codcliente" value="{$fsc->getReserva()->getCodCliente()}" />
                        <input type="hidden" name="idsHabitaciones" id="idsHabitaciones" value="{function="implode(',', $fsc->getReserva()->getHabitaciones(true))"}" />
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label><span>Fecha de Ingreso</span>
                                    <input type="date" name="fecha_in" id="fecha_in" class="form-control input-sm"  value="{$fsc->getReserva()->getFechaIn()}" required data-msg="No ha ingresado fecha de ingreso" />
                                </label>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <label><span>Fecha de Egreso</span>
                                    <input type="date" name="fecha_out" id="fecha_out" class="form-control input-sm"  value="{$fsc->getReserva()->getFechaOut()}" required data-msg="No ha ingresado fecha de egreso" />
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label><span>Cantidad de Huespedes</span>
                                    <input type="text" name="cantidad_adultos" id="cantidad_adultos" class="form-control input-sm"
                                           value="{$fsc->getReserva()->getCantidadAdultos()}" required min="1" data-msg-min="Debe ingresar al menos 1 huesped adulto" />
                                </label>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <label><span>Cantidad de Menores</span>
                                    <input type="text" name="cantidad_menores" id="cantidad_menores" class="form-control input-sm"
                                           value="{$fsc->getReserva()->getCantidadMenores()}" />
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label for="idcategoria">Categoría de Habitacion</label>
                                <select id="idcategoria" name="idcategoria" class="form-control input-sm"
                                        {if="$fsc->getReserva()->getCategoriaHabitacion() != null"} readonly="readonly"{/if}
                                        required data-msg="Debe seleciconar la categoria de la habitacion">
                                    <option value="">Seleccione...</option>
                                    {loop="$fsc->getCategoriaHabitacion()->fetchAll()"}
                                    <option value="{$value->getId()}"{if="$fsc->getReserva()->getCategoriaHabitacion() == $value->getId()"} selected="selected"{/if}>{$value->getNombre()}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="nombre_reserva">Nombre de la Reserva</label>
                            </div>
                            <div class="col-md-6">
                                <input id="nombre_reserva" class="form-control input-sm" name="nombre_reserva" type="text"
                                       value="{$fsc->getReserva()->getCliente()->nombre}" required data-msg="Debe ingresar el nombre de la reserva" />
                                <span id="cliente_loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
                            </div>
                            <div class="col-md-2">
                                <input id="media_pension" type="checkbox" name="media_pension">
                                <label for="media_pension">Media Pension</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="fecha" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 10px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Paso 1:</h1>
            <p>Selecciona la fecha y el Huesped.</p>
            <a href="#" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal_fecha">Seleccionar fecha</a>
            <h2>Paso 2:</h2>
            <p>Disponibilidad de habitaciones.</p>
            <h2>Paso 3:</h2>
            <p>Informacion de la reserva y pago.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#modal_fecha").modal('show');
        $("#nombre_reserva").autocomplete({
            serviceUrl: 'index.php?page=nueva_venta&tipo=factura',
            paramName: 'buscar_cliente',
            minChars: 3,
            onSearchStart: function(query) {
                $('#cliente_loading').removeClass('hidden');
            },
            onSearchComplete: autocomplete_response,
            onSelect: autcomplete_select
        });
        $('#fecha').validate({
            errorLabelContainer: "#errors",
            invalidHandler: function(event, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    $("#errors").removeClass('hidden').addClass('show');
                } else {
                    $("#errors").removeClass('show').addClass('hidden');
                }
            },
            highlight: function(element) {
                $(element).closest('div').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('div').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'li'
        })
    });
</script>

{include="footer"}