{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="plugins/reservas/view/js/nueva_reserva.js"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">

            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nueva Reserva
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <form id="habitaciones" action="{$fsc->new_url(3)}" method="post">
        <input type="hidden" name="idreserva" id="idreserva" value="{$fsc->getReserva()->getId()}">
        <input type="hidden" name="codcliente" id="codcliente" value="{$fsc->getReserva()->getCodCliente()}" />
        <input type="hidden" name="codgrupo" id="codgrupo" value="{$fsc->getReserva()->getCodGrupoCliente()}" />
        <input type="hidden" name="idtarifa" id="idtarifa" value="{$fsc->getReserva()->getTarifa()->getId()}" />
        <input type="hidden" name="idsHabitaciones" id="idsHabitaciones" value="{function="implode(',', $fsc->getReserva()->getHabitaciones(true))"}" />
        <div class="row form-group">
            <div class="col-md-5">
                <h3># Reserva: {$fsc->getReserva()->getId()}</h3>
                <p><b>Fecha de Creacion</b>: {$fsc->getReserva()->getCreateDate(true)}; <b>{$fsc->getReserva()->getUsuario()}</b></p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label><span>Fecha de Ingreso</span>
                    <input type="text" name="fecha_in" id="fecha_in" class="form-control input-sm" readonly="readonly" value="{$fsc->getReserva()->getFechaIn()}" />
                </label>
            </div>
            <div class="col-md-2">
                <label><span>Fecha de Egreso</span>
                    <input type="text" name="fecha_out" id="fecha_out" class="form-control input-sm" readonly="readonly" value="{$fsc->getReserva()->getFechaOut()}" />
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label for="nombre_reserva">Nombre de la Reserva</label>
            </div>
            <div class="col-md-4">
                <input id="nombre_reserva" class="form-control" name="nombre_reserva" type="text" value="{$fsc->getReserva()->getCliente()->nombre}" />
                <span id="cliente_loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#nombre_reserva").autocomplete({
                            serviceUrl: 'index.php?page=nueva_venta&tipo=factura',
                            paramName: 'buscar_cliente',
                            minChars: 3,
                            onSearchStart: function(query) {
                                $('#cliente_loading').removeClass('hidden');
                            },
                            onSearchComplete: autocomplete_response,
                            onSelect: autcomplete_select
                        });
                    });
                </script>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label for="idcategoria">Categoría de Habitacion</label>
            </div>
            <div class="col-md-2">
                <select id="idcategoria" name="idcategoria" class="form-control input-sm"
                        {if="$fsc->getReserva()->getNumerosHabitaciones()"} readonly="readonly"{/if}
                required data-msg="Debe seleciconar la categoria de la habitacion">
                <option value="">Seleccione...</option>
                {loop="$fsc->getCategoriaHabitacion()->fetchAll()"}
                <option value="{$value->getId()}"{if="$fsc->getReserva()->getCategoriaHabitacion() == $value->getId()"} selected="selected"{/if}>{$value->getNombre()}</option>
                {/loop}
                </select>
            </div>
            <div class="col-md-1">
                <label>Adultos</label>
            </div>
            <div class="col-md-1">
                <input id="cantidad_adultos" class="form-control" name="cantidad_adultos" value="{$fsc->getReserva()->getCantidadAdultos()}" />
            </div>
            <div class="col-md-1">
                <label>Menores de 7</label>
            </div>
            <div class="col-md-1">
                <input id="cantidad_menores" class="form-control" name="cantidad_menores" value="{$fsc->getReserva()->getCantidadMenores()}" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                Cantidad de Noches: {$fsc->getReserva()->getCantidadDias()}
            </div>
            <div class="col-md-4">
                Monto Tarifa: <span id="monto_tarifa">{$fsc->show_precio($fsc->getReserva()->getTarifa()->getMonto())}</span>
            </div>
            <div class="col-md-2">
                Capacidad: <span id="capacidad_habitaciones">0</span>
            </div>
        </div>
        <div class="row form-group">
            <h2>Habitaciones:</h2>
            <div id="habitacionesResult" class="has-spinner">
                <ul class="list-group">
                    <li class="habitacionItem list-group-item">
                        {loop="$fsc->getReserva()->getHabitaciones()"}
                            <span style="color:black;" class="habitacion disponible" data-id="{$value->getHabitacion()->getId()}">
                                 {$value->getHabitacion()->getNumero()}: {$value->getHabitacion()->getPlazaMaxima()}
                                <a class="text-right" onclick="return remove_habitacion(this)"><span class="glyphicon glyphicon-remove"></span></a>
                            </span>
                        {/loop}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <input type="hidden" name="idhabitacion" id="idhabitacion" value="" />
                <h3>Agregar Habitacion:</h3>
                <div class="col-md-1">
                    <label for="idpabellon">Pabellón</label>
                </div>
                <div class="col-md-2">
                    <select id="idpabellon" name="idpabellon" class="form-control input-sm">
                        <option value="">Seleccione...</option>
                        {loop="$fsc->getPabellon()->fetchAllByIdCategoria($fsc->getReserva()->getCategoriaHabitacion())"}
                        <option value="{$value->getId()}">{$value->getDescripcion()}</option>
                        {/loop}
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="numeroHab">Habitación</label>
                </div>
                <div class="col-md-2">
                    <input type="text" id="numeroHab" name="numeroHab" />
                </div>
                <div class="col-md-1">
                    <button type="submit" id="agregarHabitacion" name="agregarHabitacion" disabled="disabled">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <h2>Totales</h2>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="total">Total</label>
                    </div>
                    <div class="col-md-2">
                        <span id="total">{$fsc->show_precio($fsc->getReserva()->getTotal())}</span>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Grabar Reserva" id="guardar" class="form-control btn-primary">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="descuento">Dto/Int</label>
                    </div>
                    <div class="col-md-2">
                        <input id="descuento" class="form-control" name="descuento" type="text" value="{$fsc->getReserva()->getDescuento()}">
                        <br><span id="montoDescuento">{$fsc->show_precio($fsc->getReserva()->getMontoDescuento())}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="total_final">Total Reserva</label>
                    </div>
                    <div class="col-md-2">
                        <span id="total_final">{$fsc->show_precio($fsc->getReserva()->getTotalFinal())}</span>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" name="cancelar" id="cancelar" class="form-control btn-danger" formaction="{$fsc->cancel_url($fsc->getReserva())}">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{include="footer"}