{include="header"}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">
            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo Pabellon
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>{if="$fsc->action=='edit'"}Editar{else}Agregar{/if} Pabellón</h1>
        </div>
    </div>
    <hr />
    <form action="{$fsc->url()}" method="post">
        <input type="hidden" id="id" name="id" value="{$fsc->getPabellon()->getId()}" />
        <div class="row form-group">
            <div class="col-md-2">
                <label for="descripcion">Nombre</label>
                <input type="text" id="descripcion" class="form-control" name="descripcion" value="{$fsc->getPabellon()->getDescripcion()}" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" name="submit" id="submit" class="btn btn-default btn-primary" value="Guardar" />
            </div>
        </div>
    </form>
</div>

{include="footer"}