{include="header"}
<link href="plugins/reservas/view/css/custom.css" rel="stylesheet" />
<script type="text/javascript" src="view/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="plugins/reservas/view/js/reserva_home.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group hidden-xs">

            </div>
            <div class="btn-group">
                <a class="btn" href="{$fsc->new_url()}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nueva Reserva
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <h2>Disponibilidad</h2>
    <div class="row bottom-buffer">
        <div class="col-md-offset-3 col-md-9">
            <form id="disponibilidad" action="{$fsc->list_url()}" method="post" class="form-inline">
                <div class="form-group">
                    <label for="idpabellon">Pabellon:</label>
                    <select id="idpabellon" name="idpabellon" class="form-control input-sm">
                        <option value="">Seleccione...</option>
                        {loop="$fsc->getPabellon()->fetchAll()"}
                        <option value="{$value->getId()}" {if="$fsc->getPabellon() && $fsc->getPabellon()->getId() == $value->getId()"}selected="selected"{/if}>{$value->getDescripcion()}</option>
                        {/loop}
                    </select>
                </div>
                <!-- div class="form-group">
                    <label for="fecha_desde">Habitacion:</label>
                    <input type="text" id="numeroHab" name="numeroHab" />
                </div -->
                <div class="form-group">
                    <label for="fecha_desde">Fecha Desde:</label>
                    <input type="text" id="fecha_desde" name="fecha_desde" class="form-control input-sm" placeholder="Ingresar fecha Desde" value="{$fsc->getFechaDesde()}">
                </div>
                <div class="form-group">
                    <label for="fecha_hasta">Fecha Hasta:</label>
                    <input type="text" id="fecha_hasta" name="fecha_hasta" class="form-control input-sm" placeholder="Ingresar fecha Hasta" value="{$fsc->getFechaHasta()}">
                </div>
                <button type="submit" name="buscar" id="buscar" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    <table id="habitaciones_disponibles" class="table table-condensed table-bordered table-striped">
        <thead>
        <col style="width: 100px;" />
            <tr>
                <th>Hab.</th>
                {loop="$fsc->rango_fechas"}
                <th>{$value->format('d')}</th>
                {/loop}
            </tr>
        </thead>
        <tbody>

        {loop="$fsc->pabellones"}
            <tr>
                <th colspan="{$fsc->cantidad_dias}" class="text-center">{$value->getDescripcion()}</th>
            </tr>
            {loop="$value->fetchHabitacionesByPabellon()"}
            <tr>
                <td>{$value->getNumero()}</td>
                {loop="$fsc->rango_fechas"}
                    {$fsc->getHabitacionCell($value2, $value3)}
                {/loop}
            </tr>
            {/loop}
        {/loop}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('#disponibilidad').validate({
        errorLabelContainer: "#errors",
        errorElement: 'li'
        });
</script>


{include="footer"}